@charset "UTF-8";
/*Básicos*/
/*Azules*/
/*Verde*/
/*Gris*/
/* line 21, ../sass/style.scss */
* { margin: 0; padding: 0; }

/* line 26, ../sass/style.scss */
.container-fluid { margin: 0; padding: 0; }

/* - - -  Body - - -*/
/* line 32, ../sass/style.scss */
body { font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #ffffff; }

/* - - - /Termina Body - - - */
/* - - - Generales - - - */
/* line 43, ../sass/style.scss */
.title { margin: 50px 0 40px; text-align: center; }
/* line 47, ../sass/style.scss */
.title h4 { font-size: 16px; font-weight: 500; color: #5eb5f1; margin-bottom: 0; }
/* line 54, ../sass/style.scss */
.title h1 { font-size: 40px; font-weight: bold; text-transform: uppercase; color: #29485b; padding-top: 10px; margin: 0; }
/* line 63, ../sass/style.scss */
.title p { font-size: 16px; color: #888888; padding: 10px 0 30px; }
/* line 69, ../sass/style.scss */
.title p.border-white { border-bottom: 1px solid #ffffff; }
/* line 73, ../sass/style.scss */
.title p.border-grey { border-bottom: 1px solid #eaeaea; }
/* line 77, ../sass/style.scss */
.title a { color: #e5f375; font-size: 14px; letter-spacing: 1px; }
/* line 83, ../sass/style.scss */
.title a:hover { text-decoration: none; font-weight: bold; }
@media (max-width: 479px) { /* line 90, ../sass/style.scss */
  .title h1 { font-size: 35px; }
  /* line 94, ../sass/style.scss */
  .title p { font-size: 14px; } }

/* line 100, ../sass/style.scss */
.little-title { text-align: center; margin: 40px 0 30px; }
/* line 104, ../sass/style.scss */
.little-title h3 { font-size: 20px; color: #29485b; font-weight: bold; text-transform: uppercase; }
/* line 111, ../sass/style.scss */
.little-title p { font-size: 16px; color: #444444; }

/* - - - /Termina Generales - - - */
/* - - - Header - - -*/
/* line 121, ../sass/style.scss */
header { margin: 20px 0 20px; }
/* line 128, ../sass/style.scss */
header nav li a { padding: 0; }
/* line 134, ../sass/style.scss */
header .navbar-default { background-color: transparent; border-color: transparent; /* - - - Media querie nav-bar - - - */ }
/* line 140, ../sass/style.scss */
header .navbar-default .navbar-header .navbar-brand { height: auto; padding: 0; }
/* line 147, ../sass/style.scss */
header .navbar-default .navbar-nav { float: right; }
/* line 152, ../sass/style.scss */
header .navbar-default .navbar-nav li a { text-transform: uppercase; font-size: 14px; }
/* line 157, ../sass/style.scss */
header .navbar-default .navbar-nav li a:hover { color: #5eb5f1; }
/* line 163, ../sass/style.scss */
header .navbar-default .navbar-nav li.active { border-bottom: 2px solid #5eb5f1; font-weight: bold; color: #888888; margin: 0 15px; }
/* line 169, ../sass/style.scss */
header .navbar-default .navbar-nav li.active a { background-color: transparent; padding: 15px 0 10px; color: #888888; }
/* line 175, ../sass/style.scss */
header .navbar-default .navbar-nav li.active a:hover { background-color: transparent; color: #5eb5f1; }
/* line 183, ../sass/style.scss */
header .navbar-default .navbar-nav li.link-contacto a { color: #5eb5f1; }
/* line 187, ../sass/style.scss */
header .navbar-default .navbar-nav li.link-contacto a:hover { font-weight: bold; }
@media (max-width: 991px) { /* line 134, ../sass/style.scss */
  header .navbar-default { /*Corrige media queries toggle button*/ }
  /* line 198, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse { display: none !important; border-color: transparent; }
  /* line 202, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse .navbar-form { border-color: transparent; }
  /* line 207, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse.in { display: block !important; border-color: transparent; margin-top: 10px; }
  /* line 213, ../sass/style.scss */
  header .navbar-default .navbar-header { float: none; }
  /* line 216, ../sass/style.scss */
  header .navbar-default .navbar-header .collapse, header .navbar-default .navbar-header .navbar-toggle { display: block !important; }
  /* line 220, ../sass/style.scss */
  header .navbar-default .navbar-header .navbar-brand { margin-left: 10px; }
  /* line 225, ../sass/style.scss */
  header .navbar-default .navbar-nav { background-color: #eaeaea; float: none !important; padding: 10px 20px; }
  /* line 230, ../sass/style.scss */
  header .navbar-default .navbar-nav li:nth-child(1) { border-top: transparent; }
  /* line 234, ../sass/style.scss */
  header .navbar-default .navbar-nav li { float: none; border-top: 1px solid #ffffff; }
  /* line 238, ../sass/style.scss */
  header .navbar-default .navbar-nav li a { padding: 15px 0; color: #888888; }
  /* line 244, ../sass/style.scss */
  header .navbar-default .navbar-nav li.active { border-bottom: transparent; color: #5eb5f1; } }

/* - - - /Termina Header - - -*/
/* - - - Home - - - */
/* - - - Banner - - - */
/* line 261, ../sass/style.scss */
.banner .rslides { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
/* line 269, ../sass/style.scss */
.banner .rslides li { -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
/* line 279, ../sass/style.scss */
.banner .rslides li:first-child { position: relative; display: block; float: left; }
/* line 285, ../sass/style.scss */
.banner .rslides img { display: block; height: auto; float: left; width: 100%; border: 0; }

/* - - - Descuento - - - */
/* line 297, ../sass/style.scss */
.descuento { background-color: #eaeaea; text-align: center; }
/* line 301, ../sass/style.scss */
.descuento p { margin: 0; color: #29485b; padding: 10px 15px; }

/* - - - Servicios - - - */
/* line 309, ../sass/style.scss */
.servicios { margin-bottom: 50px; }
/* line 312, ../sass/style.scss */
.servicios .bottom { border-bottom: 1px solid #eaeaea; }
/* line 319, ../sass/style.scss */
.servicios .bottom .steps ul li { list-style: none; margin-bottom: 30px; }
/* line 323, ../sass/style.scss */
.servicios .bottom .steps ul li span { color: #ffffff; font-size: 14px; font-weight: bold; padding: 5px 10px; background-color: #5eb5f1; float: left; margin: 0 10px 40px; display: inline-block; }
/* line 334, ../sass/style.scss */
.servicios .bottom .steps ul li h4 { color: #888888; margin-bottom: 0; font-weight: bold; }
/* line 340, ../sass/style.scss */
.servicios .bottom .steps ul li p { color: #444444; font-size: 16px; }
/* line 349, ../sass/style.scss */
.servicios .other-services { text-align: center; margin: 0 auto; }
/* line 354, ../sass/style.scss */
.servicios .other-services .icons-oth-services { display: inline; width: 100%; margin: 0 auto; }
/* line 361, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service { background-color: #5eb5f1; text-align: center; vertical-align: middle; margin-right: 4px; margin-top: 4px; padding: 45px; overflow: hidden; position: relative; float: left; }
/* line 372, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service img { display: block; position: relative; }
/* line 377, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service .mascara { padding: 5px; background-color: #29485b; position: absolute; overflow: hidden; padding: 5px; top: 0; left: 0; right: 0; height: 100%; }
/* line 388, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service .mascara h4 { color: #ffffff; font-size: 14px; font-weight: bold; text-transform: uppercase; position: relative; margin: 45px 0 0; line-height: 18px; }
/* line 398, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service .mascara a { color: #e5f375; font-size: 14px; letter-spacing: 1px; text-decoration: none; position: relative; }
/* line 406, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .img-service .mascara a:hover { font-weight: bold; text-decoration: none; }
/* line 414, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first img { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; }
/* line 422, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first .mascara { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; background-color: #29485b; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
/* line 434, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first h4 { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* line 445, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first a { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* line 458, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first:hover img { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
/* line 466, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first:hover .mascara { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
/* line 472, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first:hover h4, .servicios .other-services .icons-oth-services .oth-service .prod-first:hover a { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
/* line 478, ../sass/style.scss */
.servicios .other-services .icons-oth-services .oth-service .prod-first:hover a.info { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; -ms-transition-delay: 0.2s; transition-delay: 0.2s; }
@media (max-width: 1200px) { /* line 487, ../sass/style.scss */
  .servicios .other-services .icons-oth-services .oth-service .img-service { padding: 30px; } }
@media (max-width: 480px) { /* line 493, ../sass/style.scss */
  .servicios .other-services .icons-oth-services .oth-service .img-service { padding: 25px; } }

/* - - - Centros - - - */
/* line 503, ../sass/style.scss */
.section-centros { background-color: transparent !important; }

/* line 507, ../sass/style.scss */
.centros-atencion { background-color: #eaeaea; padding-bottom: 50px; }
/* line 511, ../sass/style.scss */
.centros-atencion br { display: none; }
/* line 515, ../sass/style.scss */
.centros-atencion .centro { margin-bottom: 40px; }
/* line 518, ../sass/style.scss */
.centros-atencion .centro a { background-color: #5eb5f1; color: #ffffff; font-size: 30px; font-weight: bold; width: 45px; text-align: center; vertical-align: middle; float: left; display: block; left: 0; margin-right: 15px; }
/* line 532, ../sass/style.scss */
.centros-atencion .centro a:hover { cursor: pointer; background-color: #29485b; text-decoration: none; }
/* line 538, ../sass/style.scss */
.centros-atencion .centro h4 { font-size: 16px; font-weight: bold; color: #444444; margin-bottom: 5px; margin-top: 0; }
/* line 547, ../sass/style.scss */
.centros-atencion .centro .info { float: left; }
/* line 550, ../sass/style.scss */
.centros-atencion .centro .info .info-element { width: 295px; float: left; }
/* line 554, ../sass/style.scss */
.centros-atencion .centro .info .info-element img { margin-right: 10px; float: left; }
/* line 559, ../sass/style.scss */
.centros-atencion .centro .info .info-element p { font-size: 14px; color: #444444; display: inline-block; vertical-align: middle; }
@media (max-width: 1200px) { /* line 574, ../sass/style.scss */
  .centros-atencion br { display: block; }
  /* line 578, ../sass/style.scss */
  .centros-atencion .clearfix { display: none; }
  /* line 582, ../sass/style.scss */
  .centros-atencion .centro { float: left; margin: 0 10px 40px; }
  /* line 586, ../sass/style.scss */
  .centros-atencion .centro a { font-size: 16px; width: 30px; padding: 5px 0; }
  /* line 592, ../sass/style.scss */
  .centros-atencion .centro .info { margin-top: 10px; }
  /* line 595, ../sass/style.scss */
  .centros-atencion .centro .info .info-element { float: none; display: block; width: 270px; }
  /* line 600, ../sass/style.scss */
  .centros-atencion .centro .info .info-element img { margin-top: 2px; } }
@media (max-width: 479px) { /* line 609, ../sass/style.scss */
  .centros-atencion .centro { margin: 0 15px 30px; }
  /* line 614, ../sass/style.scss */
  .centros-atencion .centro .info-element img { width: 15px; margin-top: 10px; }
  /* line 619, ../sass/style.scss */
  .centros-atencion .centro .info-element p { font-size: 14px; }
  /* line 622, ../sass/style.scss */
  .centros-atencion .centro .info-element p br { display: block; } }

/* - - - Contacto - - - */
/* line 632, ../sass/style.scss */
.form-contacto { margin-bottom: 50px; }
/* line 635, ../sass/style.scss */
.form-contacto .campos-obligatorios { font-size: 14px; color: #444444; font-weight: normal; }
/* line 640, ../sass/style.scss */
.form-contacto .campos-obligatorios span { color: #5eb5f1; }
/* line 645, ../sass/style.scss */
.form-contacto .btn-europie { float: right; color: #ffffff; font-size: 14px; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; padding: 5px 20px; border-color: transparent; border-radius: 2px; background-color: #e5f375; }
/* line 658, ../sass/style.scss */
.form-contacto .social { text-align: center; }
/* line 661, ../sass/style.scss */
.form-contacto .social p { font-size: 20px; color: #5eb5f1; margin-bottom: 40px; }
/* line 667, ../sass/style.scss */
.form-contacto .social .fb-chico { display: none; }
@media (max-width: 1199px) { /* line 658, ../sass/style.scss */
  .form-contacto .social { margin-top: 50px; }
  /* line 675, ../sass/style.scss */
  .form-contacto .social p { font-size: 16px; padding: 30px 30px 0; border-top: 1px solid #eaeaea; } }
@media (max-width: 479px) { /* line 683, ../sass/style.scss */
  .form-contacto .social .fb-grande { display: none; }
  /* line 687, ../sass/style.scss */
  .form-contacto .social .fb-chico { display: block; } }
/* line 695, ../sass/style.scss */
.form-contacto .form-group label { font-size: 14px; color: #444444; font-weight: normal; }
/* line 700, ../sass/style.scss */
.form-contacto .form-group label span { color: #5eb5f1; }
/* line 705, ../sass/style.scss */
.form-contacto .form-group input { border: 1px solid #888888; border-radius: 2px; box-shadow: none; }
/* line 711, ../sass/style.scss */
.form-contacto .form-group textarea { border: 1px solid #888888; border-radius: 2px; box-shadow: none; }

/* - - - Clientes - - - */
/* line 721, ../sass/style.scss */
.customers { background-color: #eaeaea; padding-bottom: 50px; }
/* line 725, ../sass/style.scss */
.customers .partner { background-color: #29485b; padding: 20px 0; text-align: center; }
/* line 732, ../sass/style.scss */
.customers .partner:hover { background-color: #5eb5f1; }
@media (max-width: 479px) { /* line 738, ../sass/style.scss */
  .customers .col-xs-4 { width: 100%; margin-bottom: 20px; } }

/* - - - /Termina Home - - -*/
/* - - - Footer - - - */
/* line 750, ../sass/style.scss */
footer { margin-top: 50px; padding-bottom: 80px; }
/* line 754, ../sass/style.scss */
footer .logo-footer { float: left; padding-left: 5px; }
/* line 759, ../sass/style.scss */
footer .social-media { padding-top: 10px; text-align: right; margin-right: 30px; }
@media (max-width: 991px) { /* line 766, ../sass/style.scss */
  footer .social-media { margin-right: 15px; } }
@media (max-width: 479px) { /* line 772, ../sass/style.scss */
  footer .logo-footer { display: none; }
  /* line 776, ../sass/style.scss */
  footer .social-media { text-align: center; margin-right: 0; }
  /* line 780, ../sass/style.scss */
  footer .social-media a { text-decoration: none; text-transform: none; } }

/* - - - /Termina footer - - - */
/* - - - Sobre Nosotros - - - */
/* - - - Plantillas - - - */
