@charset "UTF-8";
/*Básicos*/
/*Azules*/
/*Verde*/
/*Gris*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
}

/* - - -  Body - - -*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

/* - - - /Termina Body - - - */
/* - - - Generales - - - */
.title {
  margin: 50px 0 40px;
  text-align: center;
}
.title h4 {
  font-size: 16px;
  font-weight: 500;
  color: #0082C8;
  margin-bottom: 0;
}
.title h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29485b;
  padding-top: 10px;
  margin: 0;
}
.title p {
  font-size: 16px;
  color: #888888;
  padding: 10px 0 30px;
}
.title p.border-white {
  border-bottom: 1px solid #ffffff;
}
.title p.border-grey {
  border-bottom: 1px solid #eaeaea;
}
.title a {
  color: #0082C8;
  font-size: 16px;
  letter-spacing: 1px;
}
.title a:hover {
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 479px) {
  .title h1 {
    font-size: 30px;
  }
  .title p {
    font-size: 14px;
  }
}

.little-title {
  text-align: center;
  margin: 40px 0 30px;
}
.little-title h3 {
  font-size: 20px;
  color: #29485b;
  font-weight: bold;
  text-transform: uppercase;
}
.little-title p {
  font-size: 16px;
  color: #444444;
}

/* - - - /Termina Generales - - - */
/* - - - Header - - -*/
header {
  margin-top: 20px;
  margin-bottom: 20px;
}
header nav li a {
  padding: 0;
}
header .navbar-default {
  background-color: transparent;
  border-color: transparent;
  /* - - - Media querie nav-bar - - - */
}
header .navbar-default .navbar-header .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default .navbar-nav {
  float: right;
}
header .navbar-default .navbar-nav li a {
  font-size: 16px;
}
header .navbar-default .navbar-nav li a:hover {
  color: #0082C8;
}
header .navbar-default .navbar-nav li.active {
  border-bottom: 2px solid #0082C8;
  font-weight: bold;
  color: #888888;
  margin: 0 15px;
}
header .navbar-default .navbar-nav li.active a {
  background-color: transparent;
  padding: 15px 0 10px;
  color: #888888;
}
header .navbar-default .navbar-nav li.active a:hover {
  background-color: transparent;
  color: #0082C8;
}
header .navbar-default .navbar-nav li.link-contacto a {
  color: #0082C8;
}
header .navbar-default .navbar-nav li.link-contacto a:hover {
  font-weight: bold;
}
@media (max-width: 991px) {
  header .navbar-default {
    /*Corrige media queries toggle button*/
  }
  header .navbar-default .navbar-collapse.collapse {
    display: none !important;
    border-color: transparent;
  }
  header .navbar-default .navbar-collapse.collapse .navbar-form {
    border-color: transparent;
  }
  header .navbar-default .navbar-collapse.collapse.in {
    display: block !important;
    border-color: transparent;
    margin-top: 10px;
  }
  header .navbar-default .navbar-header {
    float: none;
  }
  header .navbar-default .navbar-header .collapse, header .navbar-default .navbar-header .navbar-toggle {
    display: block !important;
  }
  header .navbar-default .navbar-header .navbar-brand {
    margin-left: 10px;
  }
  header .navbar-default .navbar-nav {
    background-color: #eaeaea;
    float: none !important;
    padding: 10px 15px;
  }
  header .navbar-default .navbar-nav li:nth-child(1) {
    border-top: transparent;
  }
  header .navbar-default .navbar-nav li {
    float: none;
    border-top: 1px solid #ffffff;
  }
  header .navbar-default .navbar-nav li a {
    padding: 10px 0;
    color: #888888;
  }
  header .navbar-default .navbar-nav li.active {
    border-bottom: transparent;
    color: #0082C8;
    margin: 0;
  }
}

/* - - - /Termina Header - - -*/
/* - - - Home - - - */
/* - - - Banner - - - */
.banner .rslides_container {
  display: block;
  position: relative;
}
.banner .rslides_container .caption {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 999;
  background-color: rgba(28, 45, 54, 0.6);
  padding: 15px;
  text-align: left;
  width: 50%;
  margin-top: -131px;
}
.banner .rslides_container .caption .hashtag {
  font-size: 18px;
  color: #0082C8;
  margin-bottom: 0px;
}
.banner .rslides_container .caption h2 {
  font-size: 60px;
  color: #ffffff;
  margin-top: 5px;
}
.banner .rslides_container .caption .bajada {
  font-size: 20px;
  color: #ffffff;
}
.banner .rslides_container .caption a {
  color: #60D1BA;
  font-size: 16px;
  letter-spacing: 1px;
}
@media (max-width: 900px) {
  .banner .rslides_container .caption {
    margin-top: -106px;
  }
  .banner .rslides_container .caption .hashtag {
    font-size: 16px;
  }
  .banner .rslides_container .caption h2 {
    font-size: 40px;
  }
  .banner .rslides_container .caption .bajada {
    font-size: 18px;
  }
  .banner .rslides_container .caption a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .banner .rslides_container .caption .hashtag {
    font-size: 16px;
  }
  .banner .rslides_container .caption h2 {
    font-size: 30px;
  }
  .banner .rslides_container .caption .bajada {
    font-size: 16px;
  }
  .banner .rslides_container .caption a {
    font-size: 16px;
  }
}
@media (max-width: 568px) {
  .banner .rslides_container .caption {
    display: none;
  }
}
.banner .rslides_container .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.banner .rslides_container .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.banner .rslides_container .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.banner .rslides_container .rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
@media (max-width: 568px) {
  .banner .rslides_container .rslides {
    width: 100% !important;
  }
}

/* - - - Descuento - - - */
.descuento {
  background-color: #eaeaea;
  text-align: center;
}
.descuento p {
  width: 100%;
  margin: 0;
  color: #29485b;
  padding: 10px;
  font-size: 16px;
}
.descuento p a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #60D1BA;
  color: white;
  padding: 3px 10px;
  border-radius: 2px;
  margin: 0 2px 0 5px;
  letter-spacing: 1px;
  display: inline-block;
}
.descuento p a:hover {
  background-color: #29485b;
  text-decoration: none;
}
@media (max-width: 768px) {
  .descuento p a {
    margin-top: 5px;
  }
}

/* - - - Servicios - - - */
.servicios {
  margin-bottom: 50px;
}
.servicios .bottom {
  border-bottom: 1px solid #eaeaea;
}
.servicios .bottom img {
  width: 100%;
}
.servicios .bottom .steps ul li {
  list-style: none;
  margin-bottom: 30px;
}
.servicios .bottom .steps ul li span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #0082C8;
  float: left;
  margin: 0 10px 0;
  display: inline-block;
}
.servicios .bottom .steps ul li h4 {
  color: #888888;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
.servicios .bottom .steps ul li p {
  color: #444444;
  font-size: 16px;
  margin-left: 47px;
}
@media (max-width: 768px) {
  .servicios .bottom img {
    display: none;
  }
}
.servicios .other-services {
  text-align: center;
  margin: 0 auto;
  background-color: transparent !important;
}
.servicios .other-services .btn-europie {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 20px;
  margin-top: 10px;
  border-color: transparent;
  border-radius: 2px;
  background-color: #29485b;
  display: inline-block;
}
.servicios .other-services .btn-europie:hover {
  background-color: #60D1BA;
  text-decoration: none;
}
.servicios .other-services .btn-europie:visited {
  text-decoration: none;
  text-transform: none;
  border: none;
}
.servicios .other-services .icons-oth-services {
  display: inline;
  width: 100%;
  margin: 0 auto;
}
.servicios .other-services .icons-oth-services .list-services {
  text-align: center;
}
.servicios .other-services .icons-oth-services .list-services li {
  display: inline-block;
  overflow: hidden;
  list-style-type: none;
}
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service {
  background-color: #0082C8;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 280px;
}
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service a {
  color: #29485b;
}
@media (max-width: 560px) {
  .servicios .other-services .icons-oth-services .list-services li .oth-service .img-service {
    padding: 35px;
  }
}
@media (max-width: 480px) {
  .servicios .other-services .icons-oth-services .list-services li .oth-service .img-service {
    padding: 20px;
  }
}

/* - - - Centros - - - */
.section-centros {
  background-color: transparent !important;
}

.centros-atencion {
  background-color: #eaeaea;
  padding-bottom: 50px;
}
.centros-atencion br {
  display: none;
}
.centros-atencion .centro {
  margin-bottom: 40px;
}
.centros-atencion .centro a {
  background-color: #0082C8;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  width: 45px;
  text-align: center;
  vertical-align: middle;
  float: left;
  display: block;
  left: 0;
  margin-right: 15px;
}
.centros-atencion .centro a:hover {
  cursor: pointer;
  background-color: #29485b;
  text-decoration: none;
}
.centros-atencion .centro h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  margin-bottom: 5px;
  margin-top: 0;
}
.centros-atencion .centro .info {
  float: left;
}
.centros-atencion .centro .info .info-element {
  width: 290px;
  float: left;
}
.centros-atencion .centro .info .info-element img {
  margin-right: 5px;
  float: left;
}
.centros-atencion .centro .info .info-element p {
  font-size: 16px;
  color: #444444;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 1200px) {
  .centros-atencion br {
    display: block;
  }
  .centros-atencion .clearfix {
    display: none;
  }
  .centros-atencion .centro {
    float: left;
    margin: 0 0px 40px;
  }
  .centros-atencion .centro a {
    font-size: 16px;
    width: 30px;
    padding: 5px 0;
  }
  .centros-atencion .centro .info {
    margin-top: 10px;
  }
  .centros-atencion .centro .info .info-element {
    float: none;
    display: block;
    width: 290px;
  }
  .centros-atencion .centro .info .info-element img {
    margin-right: 5px;
    margin-top: 2px;
  }
}
@media (max-width: 479px) {
  .centros-atencion .centro {
    margin: 0 0 30px;
  }
  .centros-atencion .centro .info-element img {
    width: 15px;
    margin-top: 10px;
  }
  .centros-atencion .centro .info-element p {
    font-size: 16px;
  }
  .centros-atencion .centro .info-element p br {
    display: block;
  }
}

/* - - - Contacto - - - */
.form-contacto {
  margin-bottom: 50px;
}
.form-contacto .campos-obligatorios {
  font-size: 16px;
  color: #444444;
  font-weight: normal;
}
.form-contacto .campos-obligatorios span {
  color: #0082C8;
}
.form-contacto .btn-europie {
  float: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 2px;
  background-color: #29485b;
}
.form-contacto .btn-europie:hover {
  background-color: #60D1BA;
}
.form-contacto .social {
  text-align: center;
}
.form-contacto .social p {
  font-size: 20px;
  color: #0082C8;
  margin-bottom: 40px;
}
.form-contacto .social .fb-chico {
  display: none;
}
@media (max-width: 1199px) {
  .form-contacto .social {
    margin-top: 50px;
  }
  .form-contacto .social p {
    font-size: 16px;
    padding: 30px 30px 0;
    border-top: 1px solid #eaeaea;
  }
}
@media (max-width: 479px) {
  .form-contacto .social .fb-grande {
    display: none;
  }
  .form-contacto .social .fb-chico {
    display: block;
  }
}
.form-contacto .form-group label {
  font-size: 16px;
  color: #444444;
  font-weight: normal;
}
.form-contacto .form-group label span {
  color: #0082C8;
}
.form-contacto .form-group input {
  border: 1px solid #888888;
  border-radius: 2px;
  box-shadow: none;
}
.form-contacto .form-group textarea {
  border: 1px solid #888888;
  border-radius: 2px;
  box-shadow: none;
}

/* - - - Clientes - - - */
.customers {
  background-color: #eaeaea;
  padding-bottom: 50px;
}
.customers .partner {
  background-color: #29485b;
  padding: 20px 0;
  text-align: center;
}
.customers .partner:hover {
  background-color: #0082C8;
}
@media (max-width: 479px) {
  .customers .col-xs-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* - - - /Termina Home - - -*/
/* - - - Footer - - - */
footer {
  margin-top: 40px;
  padding-bottom: 5%;
}
footer .logo-footer {
  float: left;
  padding-left: 5px;
}
footer .social-media {
  padding-top: 10px;
  text-align: right;
  margin-right: 30px;
}
@media (max-width: 991px) {
  footer {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  footer .social-media {
    margin-right: 15px;
  }
}
@media (max-width: 479px) {
  footer {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  footer .logo-footer {
    display: none;
  }
  footer .social-media {
    text-align: center;
    margin-right: 0;
  }
  footer .social-media a {
    text-decoration: none;
    text-transform: none;
  }
}

/* - - - /Termina footer - - - */
/* - - - Sobre Nosotros - - - */
.europie {
  padding-bottom: 40px;
}
.europie .intro-europie p {
  font-size: 16px;
}

.profesionales {
  margin: 0 auto;
  background-color: #eaeaea;
  padding-bottom: 40px;
}
.profesionales .little-title {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}
.profesionales .cv-description .description img {
  width: 100%;
  float: none;
  margin-bottom: 10px;
}
.profesionales .cv-description .description h3 {
  font-size: 18px;
  color: #0082C8;
  font-weight: bold;
}
.profesionales .cv-description .description h5 {
  font-size: 16px;
  font-style: oblique;
}
.profesionales .cv-description .description p {
  font-size: 16px;
}

/* - - - Plantillas - - - */
.plantillas {
  margin-bottom: 50px;
  /* Media queries Plantillas */
}
.plantillas .img-border {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.plantillas img {
  display: block;
  margin: 0 auto;
  width: 60%;
}
.plantillas .intro p {
  font-size: 16px;
}
.plantillas .steps ul li {
  list-style: none;
  margin-bottom: 40px;
}
.plantillas .steps ul li span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #0082C8;
  float: left;
  margin: 0 10px 0 0;
  display: inline-block;
}
.plantillas .steps ul li h4 {
  color: #888888;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
.plantillas .steps ul li p {
  color: #444444;
  font-size: 16px;
  margin-left: 40px;
}
@media (max-width: 768px) {
  .plantillas .bottom img {
    display: none;
  }
  .plantillas .bottom .img-border {
    border: none;
    margin-bottom: 0;
  }
}

.services {
  text-align: center;
  margin: 0 auto;
  background-color: #eaeaea;
}
.services .little-title {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.services .btn-europie {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 2px;
  background-color: #29485b;
  display: inline-block;
  margin-top: 20px;
}
.services .btn-europie:hover {
  background-color: #60D1BA;
  text-decoration: none;
}
.services .btn-europoe:visited {
  text-decoration: none;
  text-transform: none;
}
.services .icons-oth-services {
  display: inline;
  width: 100%;
  margin: 0 auto;
}
.services .icons-oth-services ul li {
  list-style-type: none;
}
.services .icons-oth-services ul li .oth-service {
  text-align: left;
  margin-bottom: 30px;
  overflow: hidden;
}
.services .icons-oth-services ul li .oth-service img {
  background-color: #0082C8;
  text-align: left;
  vertical-align: middle;
  margin: 4px 10px 0 0;
  padding: 10px;
  float: left;
}
.services .icons-oth-services ul li .oth-service h4 {
  font-size: 16px;
  color: #888888;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0 0;
}
.services .icons-oth-services ul li .oth-service p {
  font-size: 16px;
  color: #444444;
  margin-left: 80px;
}
@media (max-width: 560px) {
  .services .icons-oth-services ul li .oth-service .img-service {
    padding: 35px;
  }
}
@media (max-width: 480px) {
  .services .icons-oth-services ul li .oth-service .img-service {
    padding: 20px;
  }
  .services .icons-oth-services ul li .oth-service .prod-first:hover {
    display: none;
  }
}

/* - - - /Fin Plantillas - - - */

/*# sourceMappingURL=style.css.map */
