@charset "UTF-8";
/*Básicos*/
/*Azules*/
/*Verde*/
/*Gris*/
/* line 20, ../sass/style.scss */
hr { margin: 0; padding: 0; }

/* line 25, ../sass/style.scss */
ol, ul { margin-top: 0; margin-bottom: 10px; margin-left: 0; padding-left: 0; }

/* - - -  Body - - -*/
/* line 33, ../sass/style.scss */
body { font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #ffffff; width: 100%; height: 100%; }

/* - - - /Termina Body - - - */
/* - - - Generales - - - */
/* line 45, ../sass/style.scss */
.title { margin: 50px 0 40px; text-align: center; }
/* line 49, ../sass/style.scss */
.title h4 { font-size: 16px; font-weight: 500; color: #5eb5f1; margin-bottom: 0; }
/* line 56, ../sass/style.scss */
.title h1 { font-size: 40px; font-weight: bold; text-transform: uppercase; color: #29485b; padding-top: 10px; margin: 0; }
/* line 65, ../sass/style.scss */
.title p { font-size: 16px; color: #888888; padding: 10px 0 30px; }
/* line 71, ../sass/style.scss */
.title p.border-white { border-bottom: 1px solid #ffffff; }
/* line 75, ../sass/style.scss */
.title p.border-grey { border-bottom: 1px solid #eaeaea; }
/* line 79, ../sass/style.scss */
.title a { color: #e5f375; font-size: 14px; letter-spacing: 1px; }
/* line 85, ../sass/style.scss */
.title a:hover { text-decoration: none; font-weight: bold; }
@media (max-width: 479px) { /* line 92, ../sass/style.scss */
  .title h1 { font-size: 30px; }
  /* line 96, ../sass/style.scss */
  .title p { font-size: 14px; } }

/* line 102, ../sass/style.scss */
.little-title { text-align: center; margin: 40px 0 30px; }
/* line 106, ../sass/style.scss */
.little-title h3 { font-size: 20px; color: #29485b; font-weight: bold; text-transform: uppercase; }
/* line 113, ../sass/style.scss */
.little-title p { font-size: 16px; color: #444444; }

/* - - - /Termina Generales - - - */
/* - - - Header - - -*/
/* line 123, ../sass/style.scss */
header { margin-top: 20px; margin-bottom: 20px; }
/* line 131, ../sass/style.scss */
header nav li a { padding: 0; }
/* line 137, ../sass/style.scss */
header .navbar-default { background-color: transparent; border-color: transparent; /* - - - Media querie nav-bar - - - */ }
/* line 143, ../sass/style.scss */
header .navbar-default .navbar-header .navbar-brand { height: auto; padding: 0; }
/* line 150, ../sass/style.scss */
header .navbar-default .navbar-nav { float: right; }
/* line 155, ../sass/style.scss */
header .navbar-default .navbar-nav li a { text-transform: uppercase; font-size: 14px; }
/* line 160, ../sass/style.scss */
header .navbar-default .navbar-nav li a:hover { color: #5eb5f1; }
/* line 166, ../sass/style.scss */
header .navbar-default .navbar-nav li.active { border-bottom: 2px solid #5eb5f1; font-weight: bold; color: #888888; margin: 0 15px; }
/* line 172, ../sass/style.scss */
header .navbar-default .navbar-nav li.active a { background-color: transparent; padding: 15px 0 10px; color: #888888; }
/* line 178, ../sass/style.scss */
header .navbar-default .navbar-nav li.active a:hover { background-color: transparent; color: #5eb5f1; }
/* line 186, ../sass/style.scss */
header .navbar-default .navbar-nav li.link-contacto a { color: #5eb5f1; }
/* line 190, ../sass/style.scss */
header .navbar-default .navbar-nav li.link-contacto a:hover { font-weight: bold; }
@media (max-width: 991px) { /* line 137, ../sass/style.scss */
  header .navbar-default { /*Corrige media queries toggle button*/ }
  /* line 201, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse { display: none !important; border-color: transparent; }
  /* line 205, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse .navbar-form { border-color: transparent; }
  /* line 210, ../sass/style.scss */
  header .navbar-default .navbar-collapse.collapse.in { display: block !important; border-color: transparent; margin-top: 10px; }
  /* line 216, ../sass/style.scss */
  header .navbar-default .navbar-header { float: none; }
  /* line 219, ../sass/style.scss */
  header .navbar-default .navbar-header .collapse, header .navbar-default .navbar-header .navbar-toggle { display: block !important; }
  /* line 223, ../sass/style.scss */
  header .navbar-default .navbar-header .navbar-brand { margin-left: 10px; }
  /* line 228, ../sass/style.scss */
  header .navbar-default .navbar-nav { background-color: #eaeaea; float: none !important; padding: 10px 15px; }
  /* line 233, ../sass/style.scss */
  header .navbar-default .navbar-nav li:nth-child(1) { border-top: transparent; }
  /* line 237, ../sass/style.scss */
  header .navbar-default .navbar-nav li { float: none; border-top: 1px solid #ffffff; }
  /* line 241, ../sass/style.scss */
  header .navbar-default .navbar-nav li a { padding: 10px 0; color: #888888; }
  /* line 247, ../sass/style.scss */
  header .navbar-default .navbar-nav li.active { border-bottom: transparent; color: #5eb5f1; margin: 0; } }

/* - - - /Termina Header - - -*/
/* - - - Home - - - */
/* - - - Banner - - - */
/* line 267, ../sass/style.scss */
.banner .rslides_container { display: block; position: relative; }
/* line 271, ../sass/style.scss */
.banner .rslides_container .caption { display: block; position: absolute; top: 50%; right: 0; z-index: 999; background-color: rgba(28, 45, 54, 0.6); padding: 15px; text-align: left; width: 50%; margin-top: -131px; }
/* line 283, ../sass/style.scss */
.banner .rslides_container .caption .hashtag { font-size: 18px; color: #5eb5f1; margin-bottom: 0px; }
/* line 289, ../sass/style.scss */
.banner .rslides_container .caption h2 { font-size: 60px; color: #ffffff; margin-top: 5px; }
/* line 295, ../sass/style.scss */
.banner .rslides_container .caption .bajada { font-size: 20px; color: #ffffff; }
/* line 300, ../sass/style.scss */
.banner .rslides_container .caption a { color: #e5f375; font-size: 16px; letter-spacing: 2px; }
@media (max-width: 900px) { /* line 308, ../sass/style.scss */
  .banner .rslides_container .caption { margin-top: -106px; }
  /* line 311, ../sass/style.scss */
  .banner .rslides_container .caption .hashtag { font-size: 16px; }
  /* line 315, ../sass/style.scss */
  .banner .rslides_container .caption h2 { font-size: 40px; }
  /* line 319, ../sass/style.scss */
  .banner .rslides_container .caption .bajada { font-size: 18px; }
  /* line 323, ../sass/style.scss */
  .banner .rslides_container .caption a { font-size: 14px; } }
@media (max-width: 768px) { /* line 333, ../sass/style.scss */
  .banner .rslides_container .caption .hashtag { font-size: 14px; }
  /* line 337, ../sass/style.scss */
  .banner .rslides_container .caption h2 { font-size: 30px; }
  /* line 341, ../sass/style.scss */
  .banner .rslides_container .caption .bajada { font-size: 16px; }
  /* line 345, ../sass/style.scss */
  .banner .rslides_container .caption a { font-size: 12px; } }
@media (max-width: 568px) { /* line 352, ../sass/style.scss */
  .banner .rslides_container .caption { display: none; } }
/* line 357, ../sass/style.scss */
.banner .rslides_container .rslides { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
/* line 365, ../sass/style.scss */
.banner .rslides_container .rslides li { -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
/* line 375, ../sass/style.scss */
.banner .rslides_container .rslides li:first-child { position: relative; display: block; float: left; }
/* line 381, ../sass/style.scss */
.banner .rslides_container .rslides img { display: block; height: auto; float: left; width: 100%; border: 0; }

/* - - - Descuento - - - */
/* line 394, ../sass/style.scss */
.descuento { background-color: #eaeaea; text-align: center; }
/* line 398, ../sass/style.scss */
.descuento p { width: 100%; margin: 0; color: #29485b; padding: 10px 0; }
/* line 404, ../sass/style.scss */
.descuento p a { text-transform: uppercase; text-decoration: none; font-weight: bold; font-size: 14px; background-color: #e5f375; color: white; padding: 3px 10px; border-radius: 2px; margin: 0 5px; letter-spacing: 1px; }
/* line 418, ../sass/style.scss */
.descuento p a:hover { background-color: #29485b; text-decoration: none; }

/* - - - Servicios - - - */
/* line 426, ../sass/style.scss */
.servicios { margin-bottom: 50px; }
/* line 429, ../sass/style.scss */
.servicios .bottom { border-bottom: 1px solid #eaeaea; }
/* line 432, ../sass/style.scss */
.servicios .bottom img { width: 100%; }
/* line 440, ../sass/style.scss */
.servicios .bottom .steps ul li { list-style: none; margin-bottom: 30px; }
/* line 444, ../sass/style.scss */
.servicios .bottom .steps ul li span { color: #ffffff; font-size: 14px; font-weight: bold; padding: 5px 10px; background-color: #5eb5f1; float: left; margin: 0 10px 0; display: inline-block; }
/* line 455, ../sass/style.scss */
.servicios .bottom .steps ul li h4 { color: #888888; margin-bottom: 0; font-weight: bold; font-size: 16px; }
/* line 462, ../sass/style.scss */
.servicios .bottom .steps ul li p { color: #444444; font-size: 14px; margin-left: 47px; }
@media (max-width: 768px) { /* line 475, ../sass/style.scss */
  .servicios .bottom img { display: none; } }
/* line 481, ../sass/style.scss */
.servicios .other-services { text-align: center; margin: 0 auto; background-color: transparent !important; }
/* line 486, ../sass/style.scss */
.servicios .other-services .btn-europie { color: #ffffff; font-size: 14px; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; padding: 5px 20px; margin-top: 10px; border-color: transparent; border-radius: 2px; background-color: #e5f375; display: inline-block; }
/* line 501, ../sass/style.scss */
.servicios .other-services .btn-europie:hover { background-color: #29485b; text-decoration: none; }
/* line 506, ../sass/style.scss */
.servicios .other-services .btn-europie:visited { text-decoration: none; text-transform: none; border: none; }
/* line 513, ../sass/style.scss */
.servicios .other-services .icons-oth-services { display: inline; width: 100%; margin: 0 auto; }
/* line 518, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services { text-align: center; }
/* line 521, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li { display: inline-block; overflow: hidden; list-style-type: none; }
/* line 528, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service { background-color: #5eb5f1; text-align: center; vertical-align: middle; padding: 40px; overflow: hidden; position: relative; float: left; }
/* line 537, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service img { display: block; position: relative; }
/* line 542, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service .mascara { padding: 5px; background-color: #29485b; position: absolute; overflow: hidden; padding: 5px; top: 0; left: 0; right: 0; height: 100%; }
/* line 553, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service .mascara h4 { color: #ffffff; font-size: 13px; font-weight: bold; text-transform: uppercase; position: relative; margin: 45px 0 0; line-height: 18px; }
/* line 563, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service .mascara a { color: #e5f375; font-size: 12px; letter-spacing: 1px; text-decoration: none; position: relative; }
/* line 571, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .img-service .mascara a:hover { font-weight: bold; text-decoration: none; }
/* line 579, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first img { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; }
/* line 587, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first .mascara { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; background-color: #29485b; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
/* line 599, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first h4 { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* line 610, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first a { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* line 623, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover img { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
/* line 631, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover .mascara { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
/* line 637, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover h4, .servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover a { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
/* line 643, ../sass/style.scss */
.servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover a.info { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; -ms-transition-delay: 0.2s; transition-delay: 0.2s; }
@media (max-width: 560px) { /* line 652, ../sass/style.scss */
  .servicios .other-services .icons-oth-services .list-services li .oth-service .img-service { padding: 35px; } }
@media (max-width: 480px) { /* line 658, ../sass/style.scss */
  .servicios .other-services .icons-oth-services .list-services li .oth-service .img-service { padding: 20px; }
  /* line 662, ../sass/style.scss */
  .servicios .other-services .icons-oth-services .list-services li .oth-service .prod-first:hover { display: none; } }

/* - - - Centros - - - */
/* line 674, ../sass/style.scss */
.section-centros { background-color: transparent !important; }

/* line 678, ../sass/style.scss */
.centros-atencion { background-color: #eaeaea; padding-bottom: 50px; }
/* line 682, ../sass/style.scss */
.centros-atencion br { display: none; }
/* line 686, ../sass/style.scss */
.centros-atencion .centro { margin-bottom: 40px; }
/* line 689, ../sass/style.scss */
.centros-atencion .centro a { background-color: #5eb5f1; color: #ffffff; font-size: 30px; font-weight: bold; width: 45px; text-align: center; vertical-align: middle; float: left; display: block; left: 0; margin-right: 15px; }
/* line 703, ../sass/style.scss */
.centros-atencion .centro a:hover { cursor: pointer; background-color: #29485b; text-decoration: none; }
/* line 709, ../sass/style.scss */
.centros-atencion .centro h4 { font-size: 16px; font-weight: bold; color: #444444; margin-bottom: 5px; margin-top: 0; }
/* line 718, ../sass/style.scss */
.centros-atencion .centro .info { float: left; }
/* line 721, ../sass/style.scss */
.centros-atencion .centro .info .info-element { width: 290px; float: left; }
/* line 725, ../sass/style.scss */
.centros-atencion .centro .info .info-element img { margin-right: 5px; float: left; }
/* line 730, ../sass/style.scss */
.centros-atencion .centro .info .info-element p { font-size: 14px; color: #444444; display: inline-block; vertical-align: middle; }
@media (max-width: 1200px) { /* line 745, ../sass/style.scss */
  .centros-atencion br { display: block; }
  /* line 749, ../sass/style.scss */
  .centros-atencion .clearfix { display: none; }
  /* line 753, ../sass/style.scss */
  .centros-atencion .centro { float: left; margin: 0 0px 40px; }
  /* line 757, ../sass/style.scss */
  .centros-atencion .centro a { font-size: 16px; width: 30px; padding: 5px 0; }
  /* line 763, ../sass/style.scss */
  .centros-atencion .centro .info { margin-top: 10px; }
  /* line 766, ../sass/style.scss */
  .centros-atencion .centro .info .info-element { float: none; display: block; width: 290px; }
  /* line 771, ../sass/style.scss */
  .centros-atencion .centro .info .info-element img { margin-right: 5px; margin-top: 2px; } }
@media (max-width: 479px) { /* line 781, ../sass/style.scss */
  .centros-atencion .centro { margin: 0 0 30px; }
  /* line 786, ../sass/style.scss */
  .centros-atencion .centro .info-element img { width: 15px; margin-top: 10px; }
  /* line 791, ../sass/style.scss */
  .centros-atencion .centro .info-element p { font-size: 14px; }
  /* line 794, ../sass/style.scss */
  .centros-atencion .centro .info-element p br { display: block; } }

/* - - - Contacto - - - */
/* line 804, ../sass/style.scss */
.form-contacto { margin-bottom: 50px; }
/* line 807, ../sass/style.scss */
.form-contacto .campos-obligatorios { font-size: 14px; color: #444444; font-weight: normal; }
/* line 812, ../sass/style.scss */
.form-contacto .campos-obligatorios span { color: #5eb5f1; }
/* line 817, ../sass/style.scss */
.form-contacto .btn-europie { float: right; color: #ffffff; font-size: 14px; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; padding: 5px 20px; border-color: transparent; border-radius: 2px; background-color: #e5f375; }
/* line 830, ../sass/style.scss */
.form-contacto .btn-europie:hover { background-color: #29485b; }
/* line 834, ../sass/style.scss */
.form-contacto .social { text-align: center; }
/* line 837, ../sass/style.scss */
.form-contacto .social p { font-size: 20px; color: #5eb5f1; margin-bottom: 40px; }
/* line 843, ../sass/style.scss */
.form-contacto .social .fb-chico { display: none; }
@media (max-width: 1199px) { /* line 834, ../sass/style.scss */
  .form-contacto .social { margin-top: 50px; }
  /* line 851, ../sass/style.scss */
  .form-contacto .social p { font-size: 16px; padding: 30px 30px 0; border-top: 1px solid #eaeaea; } }
@media (max-width: 479px) { /* line 859, ../sass/style.scss */
  .form-contacto .social .fb-grande { display: none; }
  /* line 863, ../sass/style.scss */
  .form-contacto .social .fb-chico { display: block; } }
/* line 871, ../sass/style.scss */
.form-contacto .form-group label { font-size: 14px; color: #444444; font-weight: normal; }
/* line 876, ../sass/style.scss */
.form-contacto .form-group label span { color: #5eb5f1; }
/* line 881, ../sass/style.scss */
.form-contacto .form-group input { border: 1px solid #888888; border-radius: 2px; box-shadow: none; }
/* line 887, ../sass/style.scss */
.form-contacto .form-group textarea { border: 1px solid #888888; border-radius: 2px; box-shadow: none; }

/* - - - Clientes - - - */
/* line 897, ../sass/style.scss */
.customers { background-color: #eaeaea; padding-bottom: 50px; }
/* line 901, ../sass/style.scss */
.customers .partner { background-color: #29485b; padding: 20px 0; text-align: center; }
/* line 908, ../sass/style.scss */
.customers .partner:hover { background-color: #5eb5f1; }
@media (max-width: 479px) { /* line 914, ../sass/style.scss */
  .customers .col-xs-4 { width: 100%; margin-bottom: 20px; } }

/* - - - /Termina Home - - -*/
/* - - - Footer - - - */
/* line 926, ../sass/style.scss */
footer { margin-top: 40px; padding-bottom: 5%; }
/* line 930, ../sass/style.scss */
footer .logo-footer { float: left; padding-left: 5px; }
/* line 935, ../sass/style.scss */
footer .social-media { padding-top: 10px; text-align: right; margin-right: 30px; }
@media (max-width: 991px) { /* line 926, ../sass/style.scss */
  footer { margin-top: 30px; padding-bottom: 40px; }
  /* line 946, ../sass/style.scss */
  footer .social-media { margin-right: 15px; } }
@media (max-width: 479px) { /* line 926, ../sass/style.scss */
  footer { margin-top: 20px; padding-bottom: 30px; }
  /* line 956, ../sass/style.scss */
  footer .logo-footer { display: none; }
  /* line 960, ../sass/style.scss */
  footer .social-media { text-align: center; margin-right: 0; }
  /* line 964, ../sass/style.scss */
  footer .social-media a { text-decoration: none; text-transform: none; } }

/* - - - /Termina footer - - - */
/* - - - Sobre Nosotros - - - */
/* line 977, ../sass/style.scss */
.europie { padding-bottom: 40px; }
/* line 982, ../sass/style.scss */
.europie .intro-europie p { font-size: 14px; }

/* line 989, ../sass/style.scss */
.profesionales { margin: 0 auto; background-color: #eaeaea; padding-bottom: 40px; }
/* line 994, ../sass/style.scss */
.profesionales .little-title { border-bottom: 1px solid #ffffff; padding-bottom: 20px; }
/* line 1003, ../sass/style.scss */
.profesionales .cv-description .description img { width: 100%; float: none; margin-bottom: 10px; }
/* line 1010, ../sass/style.scss */
.profesionales .cv-description .description h3 { font-size: 18px; color: #5eb5f1; font-weight: bold; }
/* line 1017, ../sass/style.scss */
.profesionales .cv-description .description h5 { font-size: 16px; font-style: oblique; }
/* line 1022, ../sass/style.scss */
.profesionales .cv-description .description p { font-size: 14px; }

/* - - - Plantillas - - - */
/* line 1035, ../sass/style.scss */
.plantillas { margin-bottom: 50px; /* Media queries Plantillas */ }
/* line 1038, ../sass/style.scss */
.plantillas .img-border { border-bottom: 1px solid #eaeaea; margin-bottom: 30px; }
/* line 1043, ../sass/style.scss */
.plantillas img { display: block; margin: 0 auto; width: 60%; }
/* line 1051, ../sass/style.scss */
.plantillas .intro p { font-size: 14px; }
/* line 1060, ../sass/style.scss */
.plantillas .steps ul li { list-style: none; margin-bottom: 40px; }
/* line 1064, ../sass/style.scss */
.plantillas .steps ul li span { color: #ffffff; font-size: 14px; font-weight: bold; padding: 5px 10px; background-color: #5eb5f1; float: left; margin: 0 10px 0 0; display: inline-block; }
/* line 1075, ../sass/style.scss */
.plantillas .steps ul li h4 { color: #888888; margin-bottom: 0; font-weight: bold; font-size: 16px; }
/* line 1082, ../sass/style.scss */
.plantillas .steps ul li p { color: #444444; font-size: 14px; margin-left: 40px; }
@media (max-width: 768px) { /* line 1096, ../sass/style.scss */
  .plantillas .bottom img { display: none; }
  /* line 1100, ../sass/style.scss */
  .plantillas .bottom .img-border { border: none; margin-bottom: 0; } }

/* line 1108, ../sass/style.scss */
.services { text-align: center; margin: 0 auto; background-color: #eaeaea; }
/* line 1113, ../sass/style.scss */
.services .little-title { border-bottom: 1px solid #ffffff; padding-bottom: 30px; margin-bottom: 40px; }
/* line 1119, ../sass/style.scss */
.services .btn-europie { color: #ffffff; font-size: 14px; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; padding: 5px 20px; border-color: transparent; border-radius: 2px; background-color: #e5f375; display: inline-block; margin-top: 20px; }
/* line 1133, ../sass/style.scss */
.services .btn-europie:hover { background-color: #29485b; text-decoration: none; }
/* line 1138, ../sass/style.scss */
.services .btn-europoe:visited { text-decoration: none; text-transform: none; }
/* line 1143, ../sass/style.scss */
.services .icons-oth-services { display: inline; width: 100%; margin: 0 auto; }
/* line 1150, ../sass/style.scss */
.services .icons-oth-services ul li { list-style-type: none; }
/* line 1153, ../sass/style.scss */
.services .icons-oth-services ul li .oth-service { text-align: left; margin-bottom: 30px; overflow: hidden; }
/* line 1158, ../sass/style.scss */
.services .icons-oth-services ul li .oth-service img { background-color: #5eb5f1; text-align: left; vertical-align: middle; margin: 4px 10px 0 0; padding: 10px; float: left; }
/* line 1167, ../sass/style.scss */
.services .icons-oth-services ul li .oth-service h4 { font-size: 16px; color: #888888; text-transform: uppercase; font-weight: bold; margin: 5px 0 0; }
/* line 1175, ../sass/style.scss */
.services .icons-oth-services ul li .oth-service p { font-size: 14px; color: #444444; margin-left: 80px; }
@media (max-width: 560px) { /* line 1182, ../sass/style.scss */
  .services .icons-oth-services ul li .oth-service .img-service { padding: 35px; } }
@media (max-width: 480px) { /* line 1188, ../sass/style.scss */
  .services .icons-oth-services ul li .oth-service .img-service { padding: 20px; }
  /* line 1192, ../sass/style.scss */
  .services .icons-oth-services ul li .oth-service .prod-first:hover { display: none; } }

/* - - - /Fin Plantillas - - - */
