@charset "utf-8";

/*Básicos*/
$white:#ffffff;
$black:#000000;

/*Azules*/
$cyan:#0082C8;
$petroleum:#29485b;

/*Verde*/
$verde:#60D1BA;

/*Gris*/
$lightgrey:#eaeaea;
$grey:#888888;
$mediumgrey:#444444;
$darkgrey:#222222;

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
	margin:0;
	padding:0;
	width:100%;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}

/* - - -  Body - - -*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	background-color:$white;
	width:100%;
	box-sizing: border-box;
}

/* - - - /Termina Body - - - */

/* - - - Generales - - - */
.title {
	margin:50px 0 40px;
	text-align:center;

	h4 {
		font-size: 16px;
		font-weight:500;
		color: $cyan;
		margin-bottom: 0;
	}

	h1 {
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		color:$petroleum;
		padding-top: 10px;
			margin: 0;
	}

	p {
		font-size:16px;
		color:$grey;
		padding: 10px 0 30px;
	}

	p.border-white {
		border-bottom:1px solid $white;
	}

	p.border-grey {
		border-bottom:1px solid $lightgrey;
	}

	a {
		color:$verde;
		font-size:16px;
		letter-spacing: 1px;
	}

	a:hover {
		text-decoration: none;
		font-weight: bold;
	}

	@media (max-width:479px) {

		h1 {
			font-size:30px;
		}

		p {
			font-size: 14px;
		}
	}
}

.little-title {
	text-align:center;
	margin:40px 0 30px;

	h3 {
		font-size: 20px;
		color:$petroleum;
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		font-size:16px;
		color:$mediumgrey;
	}

}
/* - - - /Termina Generales - - - */


/* - - - Header - - -*/
header {
	margin-top:20px;
	margin-bottom:20px;

	nav {

		li {

			a {
				padding:0;
			}
		}
	}

	.navbar-default {
		background-color:transparent;
		border-color: transparent;

		.navbar-header {

			.navbar-brand {
				height: auto;
				padding:0;
			}

		}

		.navbar-nav {
			float: right;

	    	li {

	    		a {
	 				font-size: 16px;
	    		}

	    		a:hover {
	    			color:$cyan;
	    		}

	    	}

			li.active {
				border-bottom:2px solid $cyan;
				font-weight: bold;
				color:$grey;
				margin: 0 15px;

				a {
					background-color:transparent;
					padding:15px 0 10px;
					color:$grey;
				}

				a:hover {
					background-color:transparent;
					color: $cyan;
				}
			}

			li.link-contacto {
	    		
	    		a {
	    			color:$cyan;
	    		}

	    		a:hover {
	    			font-weight: bold;
	    		}

	    	}

		}
		
		/* - - - Media querie nav-bar - - - */
		@media (max-width: 991px) {
			/*Corrige media queries toggle button*/
		    .navbar-collapse.collapse {
		        display: none !important;
		        border-color:transparent;

		        .navbar-form {
		        	border-color:transparent;
		        } 
		    }

		    .navbar-collapse.collapse.in {
		        display: block !important;
		        border-color:transparent;
		        margin-top:10px;
		    }

		    .navbar-header {
		    	float: none;

		    	.collapse, .navbar-toggle {
		        	display:block !important;
		    	}

		    	.navbar-brand {
		    		margin-left:10px;
		    	}
			}

		    .navbar-nav {
		    	background-color:$lightgrey;
		    	float:none !important;
		    	padding:10px 15px;

		    	li:nth-child(1) {
    				border-top:transparent;
				}

		    	li {
		    		float:none;
		    		border-top: 1px solid $white;

		    		a {
		    			padding:10px 0;
		    			color:$grey;
		    		}
		    	}

		    	li.active {
		    		border-bottom:transparent;
		    		color:$cyan;
		    		margin:0;

		    	}
		    }
		}
	}
}

/* - - - /Termina Header - - -*/



/* - - - Home - - - */

	/* - - - Banner - - - */
	.banner {

		.rslides_container {
			display:block;
			position:relative;

			.caption {
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				z-index: 999;
				background-color: rgba(28, 45, 54, 0.60);
				padding: 15px;
				text-align: left;
				width: 50%;
				margin-top: -131px;

				.hashtag {
					font-size:18px;
					color:$cyan;
					margin-bottom:0px;
				}

				h2 {
					font-size:60px;
					color:$white;
					margin-top:5px;
				}

				.bajada {
					font-size: 20px;
					color:$white;
				}

				a {
					color: $verde;
					font-size:16px;
					letter-spacing: 1px;
				}
			}

			@media (max-width:900px) {
				.caption {
					margin-top:-106px;

					.hashtag {
						font-size: 16px;
					}

					h2 {
						font-size: 40px;
					}

					.bajada {
						font-size: 18px;
					}

					a {
						font-size: 16px;
					}

				}
			}

			@media (max-width:768px) {
				.caption {
					
					.hashtag {
						font-size: 16px;
					}

					h2 {
						font-size:30px;
					}

					.bajada {
						font-size: 16px;
					}

					a {
						font-size:16px;
					}
				}
			}

			@media (max-width:568px) {
				.caption {
					display:none;
				}
			}

			.rslides {
				position: relative;
				list-style: none;
				overflow: hidden;
				width: 100%;
				padding: 0;
				margin: 0;

				li {
					-webkit-backface-visibility: hidden;
					position: absolute;
					display: none;
					width: 100%;
					left: 0;
					top: 0;

				}

				li:first-child {
					position: relative;
					display: block;
					float: left;
				}

				img {
					display: block;
					height: auto;
					float: left;
					width: 100%;
					border: 0;
				}
			}

			@media (max-width:568px) {
				.rslides {
					width: 100% !important;
				}
			}
		}
	}


	/* - - - Descuento - - - */
	.descuento {
		background-color:$lightgrey;
		text-align:center;

		p { 
			width: 100%;
			margin:0;
			color:$petroleum;
			padding:10px;
			font-size: 16px;

			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight:bold;
				font-size: 16px;
				background-color:$verde;
				color:white;
				padding:3px 10px;
				border-radius:2px;
				margin:0 2px 0 5px;
				letter-spacing: 1px;
				display: inline-block;
			}

			a:hover {
				background-color:$petroleum;
				text-decoration: none;
			}

			@media (max-width:768px) {
				a {
					margin-top:5px;
				}
			}
		}
	}

	/* - - - Servicios - - - */
	.servicios {
		margin-bottom:50px;

		.bottom {
			border-bottom:1px solid $lightgrey;

			img {
				width: 100%
			}

			.steps {

				ul {

					li {
						list-style: none;
						margin-bottom:30px;

						span {
							color:$white;
							font-size:16px;
							font-weight: bold;
							padding:5px 10px;
							background-color:$cyan;
							float:left;
							margin:0 10px 0;
							display: inline-block;
						}

						h4 {
							color:$grey;
							margin-bottom:0;
							font-weight: bold;
							font-size:16px;
						}
						
						p {
							color:$mediumgrey;
							font-size:16px;
							margin-left:47px;
						}
					}				
				}
			}
		}

		@media (max-width:768px) {
			.bottom {
				
				img {
					display:none;
				}
			}
		}

		.other-services {
			text-align: center;
			margin:0 auto;
			background-color:transparent !important;

			.btn-europie {
				color:$white;
				font-size: 16px;
				font-weight: bold;
				letter-spacing:1px;
				text-transform:uppercase;
				padding:5px 20px;
				margin-top:10px;
				border-color:transparent;
				border-radius:2px;
				background-color:$petroleum;
				display: inline-block;
			
			}

			.btn-europie:hover {
				background-color:$verde;
				text-decoration: none;
			}

			.btn-europie:visited {
				text-decoration:none;
				text-transform:none;
				border:none;
			}

			
			.icons-oth-services {
				display: inline;
				width: 100%;
				margin:0 auto;

				.list-services  {
					text-align:center;

					li {
						display:inline-block;
						overflow: hidden;
						list-style-type: none;

						.oth-service {
							
							.img-service {
								background-color:$cyan;
								text-align: center;
								vertical-align: middle;
								padding:40px;
								overflow: hidden;
		    					position: relative;
		    					float:left;

		    					a {
		    						color:$verde;
		    					}								
							}

							@media (max-width:560px) {
								.img-service {
									padding:35px;
								}
							}

							@media (max-width:480px) {
								.img-service {
									padding:20px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* - - - Centros - - - */
	.section-centros {
		background-color:transparent !important;
	}

	.centros-atencion {
		background-color:$lightgrey;
		padding-bottom:50px;

		br {
			display: none;
		}

		.centro {
			margin-bottom: 40px;
				
			a {
				background-color:$cyan;
				color:$white;
				font-size:30px;
				font-weight: bold;
				width: 45px;
				text-align: center;
				vertical-align: middle;
				float:left;
				display:block;
				left: 0;
				margin-right: 15px;
			}

			a:hover {
				cursor: pointer;
				background-color:$petroleum;
				text-decoration: none;
			}

			h4 {
				font-size:16px;
				font-weight: bold;
				color:$mediumgrey;
				margin-bottom:5px;
				margin-top: 0;
			}


			.info {
				float:left;

				.info-element {
					width: 290px;
					float:left;

					img {
						margin-right:5px;
						float:left;
					}

					p {
						font-size:16px;
						color:$mediumgrey;
						vertical-align: middle;
						display: inline-block;
					}


				}
			}

		}

		@media (max-width:1200px) {

			br {
				display:block;
			}

			.clearfix {
				display:none;
			}

			.centro {
				float:left;
				margin:0 0px 40px;

				a {
					font-size: 16px;
					width: 30px;
					padding:5px 0;
				}

				.info {
					margin-top:10px;				

					.info-element {
						float:none;
						display:block;
						width: 290px;

						img {
							margin-right:5px;
							margin-top:2px;
						}
					}
				}
			}
		}

		@media (max-width:479px) {
			.centro {
				margin:0 0 30px;

				.info-element {

					img {
						width: 15px;
						margin-top:10px;
					}

					p {
						font-size:16px;
						
						br {
							display:block;
						}
					}
				}
			}	
		}
	}

	/* - - - Contacto - - - */
	.form-contacto {
		margin-bottom:50px;

		.campos-obligatorios {
			font-size:16px;
			color:$mediumgrey;
			font-weight:normal;

			span {
				color:$cyan;
			}
		}

		.btn-europie {
			float:right;
			color:$white;
			font-size: 16px;
			font-weight: bold;
			letter-spacing:1px;
			text-transform:uppercase;
			padding:5px 20px;
			border-color:transparent;
			border-radius:2px;
			background-color:$petroleum;
		}

		.btn-europie:hover {
			background-color:$verde;
		}

		.social {
			text-align:center;

			p {
				font-size: 20px;
				color:$cyan;
				margin-bottom:40px;
			}

			.fb-chico {
				display:none;
			}


			@media (max-width:1199px) {
				margin-top:50px;

				p {
					font-size:16px;
					padding:30px 30px 0;
					border-top:1px solid $lightgrey;
				}
			}

			@media (max-width:479px) {
				.fb-grande {
					display:none;
				}

				.fb-chico {
					display:block;
				}
			}
		}

		.form-group {

			label {
				font-size:16px;
				color:$mediumgrey;
				font-weight:normal;

				span {
					color:$cyan;
				}
			}

			input {
				border: 1px solid $grey;
				border-radius:2px;
				box-shadow:none;
			}

			textarea {
				border:1px solid $grey;
				border-radius:2px;
				box-shadow:none;
			}
		}
	}


	/* - - - Clientes - - - */
	.customers {
		background-color:$lightgrey;
		padding-bottom:50px;

		.partner {
			background-color:$petroleum;
			padding:20px 0;
			text-align: center;

		}

		.partner:hover {
			background-color:$cyan;
		}


		@media (max-width:479px) {
			.col-xs-4 {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

/* - - - /Termina Home - - -*/



/* - - - Footer - - - */
footer {
	margin-top:40px;
	padding-bottom:5%;

	.logo-footer {
		float:left;
		padding-left: 5px;
	}

	.social-media {
		padding-top:10px;
		text-align:right;
		margin-right: 30px;
	}

	@media (max-width:991px) {
			
		margin-top:30px;
		padding-bottom:40px;

		.social-media {
			margin-right:15px;
		}
	}

	@media (max-width:479px) {
		
		margin-top:20px;
		padding-bottom:30px;

		.logo-footer {
			display:none;
		}

		.social-media {
			text-align: center;
			margin-right:0;

			a {
				text-decoration: none;
				text-transform: none;
			}
		}
	}
}

/* - - - /Termina footer - - - */



/* - - - Sobre Nosotros - - - */
.europie {
	padding-bottom:40px;
	
	.intro-europie {

		p {
			font-size: 16px;
		}
	}

}

.profesionales {
	margin:0 auto;
	background-color:$lightgrey;
	padding-bottom:40px;
	
	.little-title {
		border-bottom:1px solid $white;
		padding-bottom:20px;
	}

	
	.cv-description {
		
		.description {
			img {
				width: 100%;
				float: none;
				margin-bottom: 10px;

			}

			h3 {
				font-size: 18px;
				color:$cyan;
				font-weight: bold;

			}

			h5 {
				font-size: 16px;
				font-style: oblique;
			}

			p {
				font-size:16px;
			}
		}

	}


}



/* - - - Plantillas - - - */
.plantillas {
	margin-bottom:50px;

	.img-border {
		border-bottom: 1px solid $lightgrey;
		margin-bottom: 30px;
	}

	img {
		display:block;
		margin:0 auto;
		width: 60%;
	}

	.intro {

		p {
			font-size: 16px;
		}
	}

	.steps {

		ul {

			li {
				list-style: none;
				margin-bottom:40px;

				span {
					color:$white;
					font-size:16px;
					font-weight: bold;
					padding:5px 10px;
					background-color:$cyan;
					float:left;
					margin:0 10px 0 0;
					display: inline-block;
				}

				h4 {
					color:$grey;
					margin-bottom:0;
					font-weight: bold;
					font-size:16px;
				}
				
				p {
					color:$mediumgrey;
					font-size:16px;
					margin-left: 40px;
				}
			}				
		}
	}

	/* Media queries Plantillas */
	@media (max-width:768px) {
			
		.bottom {
			
			img {
				display: none;
			}

			.img-border {
				border:none;
				margin-bottom: 0;
			}
		}
	}
}

.services {
	text-align: center;
	margin:0 auto;
	background-color:$lightgrey;

	.little-title {
		border-bottom:1px solid $white;
		padding-bottom:30px;
		margin-bottom: 40px;
	}

	.btn-europie {
		color:$white;
		font-size: 16px;
		font-weight: bold;
		letter-spacing:1px;
		text-transform:uppercase;
		padding:5px 20px;
		border-color:transparent;
		border-radius:2px;
		background-color:$petroleum;
		display: inline-block;
		margin-top:20px;
	}

	.btn-europie:hover {
		background-color:$verde;
		text-decoration: none;
	}

	.btn-europoe:visited {
		text-decoration: none;
		text-transform: none;
	}

	.icons-oth-services {
		display: inline;
		width: 100%;
		margin:0 auto;

		ul {

			li {
				list-style-type: none;

				.oth-service {
					text-align:left;
					margin-bottom:30px;
					overflow: hidden;
					
					img {
						background-color:$cyan;
						text-align: left;
						vertical-align: middle;
						margin:4px 10px 0 0;
						padding:10px;
						float: left;						
					}

					h4 {
						font-size:16px;
						color:$grey;
						text-transform: uppercase;
						font-weight:bold;
						margin:5px 0 0;
					}
					
					p {
						font-size: 16px;
						color:$mediumgrey;
						margin-left:80px;
					}

					@media (max-width:560px) {
						.img-service {
							padding:35px;
						}
					}

					@media (max-width:480px) {
						.img-service {
							padding:20px;
						}

						.prod-first:hover {
							display:none;
						}
					}
				}
			}
		}
	}
}

/* - - - /Fin Plantillas - - - */

