@charset "utf-8";

/*Básicos*/
$white:#ffffff;
$black:#000000;

/*Azules*/
$cyan:#5eb5f1;
$petroleum:#29485b;
$darkpetroleum:#1c2d36;

/*Verde*/
$verde:#e5f375;

/*Gris*/
$lightgrey:#eaeaea;
$grey:#888888;
$mediumgrey:#444444;
$darkgrey:#222222;

* {
	margin:0;
	padding:0;
}

.container-fluid {
	margin:0;
	padding:0;
} 

/* - - -  Body - - -*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	background-color:$white;
}

/* - - - /Termina Body - - - */



/* - - - Generales - - - */
.title {
	margin:50px 0 40px;
	text-align:center;

	h4 {
		font-size: 16px;
		font-weight:500;
		color: $cyan;
		margin-bottom: 0;
	}

	h1 {
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		color:$petroleum;
		padding-top: 10px;
			margin: 0;
	}

	p {
		font-size:16px;
		color:$grey;
		padding: 10px 0 30px;
	}

	p.border-white {
		border-bottom:1px solid $white;
	}

	p.border-grey {
		border-bottom:1px solid $lightgrey;
	}

	a {
		color:$verde;
		font-size:14px;
		letter-spacing: 1px;
	}

	a:hover {
		text-decoration: none;
		font-weight: bold;
	}

	@media (max-width:479px) {

		h1 {
			font-size:35px;
		}

		p {
			font-size: 14px;
		}
	}
}

.little-title {
	text-align:center;
	margin:40px 0 30px;

	h3 {
		font-size: 20px;
		color:$petroleum;
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		font-size:16px;
		color:$mediumgrey;
	}

}
/* - - - /Termina Generales - - - */


/* - - - Header - - -*/
header {
	margin:20px 0 20px;

	nav {

		li {

			a {
				padding:0;
			}
		}
	}

	.navbar-default {
		background-color:transparent;
		border-color: transparent;

		.navbar-header {

			.navbar-brand {
				height: auto;
				padding:0;
			}

		}

		.navbar-nav {
			float: right;

	    	li {

	    		a {
	    			text-transform: uppercase;
	 				font-size: 14px;
	    		}

	    		a:hover {
	    			color:$cyan;
	    		}

	    	}

			li.active {
				border-bottom:2px solid $cyan;
				font-weight: bold;
				color:$grey;
				margin: 0 15px;

				a {
					background-color:transparent;
					padding:15px 0 10px;
					color:$grey;
				}

				a:hover {
					background-color:transparent;
					color: $cyan;
				}
			}

			li.link-contacto {
	    		
	    		a {
	    			color:$cyan;
	    		}

	    		a:hover {
	    			font-weight: bold;
	    		}

	    	}

		}
		
		/* - - - Media querie nav-bar - - - */
		@media (max-width: 991px) {
			/*Corrige media queries toggle button*/
		    .navbar-collapse.collapse {
		        display: none !important;
		        border-color:transparent;

		        .navbar-form {
		        	border-color:transparent;
		        } 
		    }

		    .navbar-collapse.collapse.in {
		        display: block !important;
		        border-color:transparent;
		        margin-top:10px;
		    }

		    .navbar-header {
		    	float: none;

		    	.collapse, .navbar-toggle {
		        	display:block !important;
		    	}

		    	.navbar-brand {
		    		margin-left:10px;
		    	}
			}

		    .navbar-nav {
		    	background-color:$lightgrey;
		    	float:none !important;
		    	padding:10px 20px;

		    	li:nth-child(1) {
    				border-top:transparent;
				}

		    	li {
		    		float:none;
		    		border-top: 1px solid $white;

		    		a {
		    			padding:15px 0;
		    			color:$grey;
		    		}
		    	}

		    	li.active {
		    		border-bottom:transparent;
		    		color:$cyan;
		    	}
		    }
		}
	}
}

/* - - - /Termina Header - - -*/



/* - - - Home - - - */

	/* - - - Banner - - - */
	.banner {

	}

	/* - - - Descuento - - - */
	.descuento {
		background-color:$lightgrey;
		text-align:center;

		p { 
			margin:0;
			color:$petroleum;
			padding:10px 15px;
		}
	}

	/* - - - Servicios - - - */
	.servicios {
		margin-bottom:50px;

		.bottom {
			border-bottom:1px solid $lightgrey;

			.steps {

				ul {

					li {
						list-style: none;
						margin-bottom:30px;

						span {
							color:$white;
							font-size:14px;
							font-weight: bold;
							padding:5px 10px;
							background-color:$cyan;
							float:left;
							margin:0 10px 40px;
							display: inline-block;
						}

						h4 {
							color:$grey;
							margin-bottom:0;
							font-weight: bold;
						}
						
						p {
							color:$mediumgrey;
							font-size:16px;
						}
					}				
				}
			}
		}

		.other-services {
			text-align: center;
			margin:0 auto;

			
			.icons-oth-services {
				display: inline;
				width: 100%;
				margin:0 auto;

				.oth-service {
					
					.img-service {
						background-color:$cyan;
						text-align: center;
						vertical-align: middle;
						margin-right:4px;
						margin-top:4px;
						padding:45px;
						overflow: hidden;
    					position: relative;
    					float:left;

    					img {
    						display: block;
    						position: relative
    					}
						
						.mascara {
							padding: 5px;
							background-color:$petroleum;
							position: absolute;
						    overflow: hidden;
						    padding:5px;
						    top: 0;
						    left: 0;
						    right:0;
						    height: 100%;

							h4 {
								color:$white;
								font-size:14px;
								font-weight: bold;
								text-transform: uppercase;
								position:relative;
								margin:45px 0 0;
								line-height: 18px;
							}

							a {
								color:$verde;
								font-size:14px;
								letter-spacing: 1px;
								text-decoration: none;
								position: relative;
							}

							a:hover {
								font-weight: bold;
								text-decoration: none;
							}
						}
					}

					.prod-first {
						img {
							-webkit-transition: all 0.2s linear;
							-moz-transition: all 0.2s linear;
							-o-transition: all 0.2s linear;
							-ms-transition: all 0.2s linear;
							transition: all 0.2s linear;
						}

						.mascara {
							-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
							filter: alpha(opacity=0);
							opacity: 0;
							background-color: $petroleum;
							-webkit-transition: all 0.4s ease-in-out;
							-moz-transition: all 0.4s ease-in-out;
							-o-transition: all 0.4s ease-in-out;
							-ms-transition: all 0.4s ease-in-out;
							transition: all 0.4s ease-in-out;
						}

						h4 {
							-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
							filter: alpha(opacity=0);
							opacity: 0;
							-webkit-transition: all 0.2s ease-in-out;
							-moz-transition: all 0.2s ease-in-out;
							-o-transition: all 0.2s ease-in-out;
							-ms-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;
						}

						a {
							-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
							filter: alpha(opacity=0);
							opacity: 0;
							-webkit-transition: all 0.2s ease-in-out;
							-moz-transition: all 0.2s ease-in-out;
							-o-transition: all 0.2s ease-in-out;
							-ms-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;
						}

					}

					.prod-first:hover img {
						-webkit-transform: scale(1.1,1.1);
						-moz-transform: scale(1.1,1.1);
						-o-transform: scale(1.1,1.1);
						-ms-transform: scale(1.1,1.1);
						transform: scale(1.1,1.1);
					}

					.prod-first:hover .mascara {
						-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
						opacity: 1;
					}

					.prod-first:hover h4, .prod-first:hover a {
					   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
					   filter: alpha(opacity=100);
					   opacity: 1;
					}

					.prod-first:hover a.info {
					   -webkit-transition-delay: 0.2s;
					   -moz-transition-delay: 0.2s;
					   -o-transition-delay: 0.2s;
					   -ms-transition-delay: 0.2s;
					   transition-delay: 0.2s;
					}

					@media (max-width:1200px) {
						.img-service {
							padding:30px;
						}
					}

					@media (max-width:480px) {
						.img-service {
							padding:25px;
						}
					}
				}
			}
		}
	}

	/* - - - Centros - - - */
	.section-centros {
		background-color:transparent !important;
	}

	.centros-atencion {
		background-color:$lightgrey;
		padding-bottom:50px;

		br {
			display: none;
		}

		.centro {
			margin-bottom: 40px;
				
			a {
				background-color:$cyan;
				color:$white;
				font-size:30px;
				font-weight: bold;
				width: 45px;
				text-align: center;
				vertical-align: middle;
				float:left;
				display:block;
				left: 0;
				margin-right: 15px;
			}

			a:hover {
				cursor: pointer;
				background-color:$petroleum;
				text-decoration: none;
			}

			h4 {
				font-size:16px;
				font-weight: bold;
				color:$mediumgrey;
				margin-bottom:5px;
				margin-top: 0;
			}


			.info {
				float:left;

				.info-element {
					width: 295px;
					float:left;

					img {
						margin-right:10px;
						float:left;
					}

					p {
						font-size:14px;
						color:$mediumgrey;
						display:inline-block;
						vertical-align: middle;
					}


				}
			}

		}

		@media (max-width:1200px) {

			br {
				display:block;
			}

			.clearfix {
				display:none;
			}

			.centro {
				float:left;
				margin:0 10px 40px;

				a {
					font-size: 16px;
					width: 30px;
					padding:5px 0;
				}

				.info {
					margin-top:10px;				

					.info-element {
						float:none;
						display:block;
						width: 270px;

						img {
							margin-top:2px;
						}
					}
				}
			}
		}

		@media (max-width:479px) {
			.centro {
				margin:0 15px 30px;

				.info-element {

					img {
						width: 15px;
						margin-top:10px;
					}

					p {
						font-size:14px;
						
						br {
							display:block;
						}
					}
				}
			}	
		}
	}

	/* - - - Contacto - - - */
	.form-contacto {
		margin-bottom:50px;

		.campos-obligatorios {
			font-size:14px;
			color:$mediumgrey;
			font-weight:normal;

			span {
				color:$cyan;
			}
		}

		.btn-europie {
			float:right;
			color:$white;
			font-size: 14px;
			font-weight: bold;
			letter-spacing:2px;
			text-transform:uppercase;
			padding:5px 20px;
			border-color:transparent;
			border-radius:2px;
			background-color:$verde;
		}

		.social {
			text-align:center;

			p {
				font-size: 20px;
				color:$cyan;
				margin-bottom:40px;
			}

			.fb-chico {
				display:none;
			}


			@media (max-width:1199px) {
				margin-top:50px;

				p {
					font-size:16px;
					padding:30px 30px 0;
					border-top:1px solid $lightgrey;
				}
			}

			@media (max-width:479px) {
				.fb-grande {
					display:none;
				}

				.fb-chico {
					display:block;
				}
			}
		}

		.form-group {

			label {
				font-size:14px;
				color:$mediumgrey;
				font-weight:normal;

				span {
					color:$cyan;
				}
			}

			input {
				border: 1px solid $grey;
				border-radius:2px;
				box-shadow:none;
			}

			textarea {
				border:1px solid $grey;
				border-radius:2px;
				box-shadow:none;
			}
		}
	}


	/* - - - Clientes - - - */
	.customers {
		background-color:$lightgrey;
		padding-bottom:50px;

		.partner {
			background-color:$petroleum;
			padding:20px 0;
			text-align: center;

		}

		.partner:hover {
			background-color:$cyan;
		}


		@media (max-width:479px) {
			.col-xs-4 {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

/* - - - /Termina Home - - -*/



/* - - - Footer - - - */
footer {
	margin-top:50px;
	padding-bottom:80px;

	.logo-footer {
		float:left;
		padding-left: 5px;
	}

	.social-media {
		padding-top:10px;
		text-align:right;
		margin-right: 30px;
	}

	@media (max-width:991px) {
		.social-media {
			margin-right:15px;
		}
	}

	@media (max-width:479px) {
		.logo-footer {
			display:none;
		}

		.social-media {
			text-align: center;
			margin-right:0;

			a {
				text-decoration: none;
				text-transform: none;
			}
		}
	}
}

/* - - - /Termina footer - - - */



/* - - - Sobre Nosotros - - - */



/* - - - Plantillas - - - */